<launch>
  <node pkg="baxter_tools" type="enable_robot.py" name="bax_enable" args="-e"/>
  <node pkg="drone_tracker_demo" type="tuck_arms.py" name="bax_tuck_server"/>
  <node pkg="sound_play" type="soundplay_node.py" name="response_server" output="screen"/>
  <node pkg="sphinx_mcl" type="sphinx_mcl_node" name="sphinx_mcl" output="screen"/>
</launch>

